#wrapper_nav{
  font-family: VcrMono;
  background-color: var(--dark-slate-colour);
  padding: 0.5rem;
} 

#wrapper_nav div {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.25rem;
}

#nav_text_links a{
  margin-right: 1.5rem;
}
