/* COLOUR PALETTE VARIABLES */
:root{
  --dark-brown-grey-colour: #302b29;
  --dark-brown-colour: #41250a; /* used in branch img */
  --light-brown-colour: #5b3714; /* used in branch img */

  --dark-slate-colour: #303030;
  --mid-slate-colour: #4e4e4e;
  --light-slate-colour: #7b7b7b;
  --lightest-slate-colour: #bfbfbf;

  --honey-yellow-colour: #b8902a;
  --dull-gold-colour: #6f5e32;
  --light-yellow-colour: #ffd15c; /* used in branch title img */
  --parchment-colour: #efe2d0;

  --lavender-colour: #887f99;
}

/* GENERAL */
.App {
  font-family: InputMono;
  cursor: default;
}

html{
  font-size: 1rem;
  background-color: var(--mid-slate-colour);
}

em {
  color: var(--light-slate-colour);
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
  color: var(--lightest-slate-colour);
  transition: 0.3s;
}

a:hover {
  color: var(--honey-yellow-colour);
}

/* PAGES */
.page{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:55rem;
}

#app-home-wrapper{
  background-color: var(--dark-slate-colour);
  min-height: 65em;
}

#app-nav-wrapper{
  position: sticky;
  top: 0;
  z-index: 300;
}

#about{
  background-color: var(--mid-slate-colour);
  z-index: 250;
}

#projects{
  z-index: 200;
  background-color: var(--light-slate-colour);
}

#contact{
  background-color: var(--lightest-slate-colour);
}



/* IMAGES */

.wrapper_left_branch{
  position: absolute;
  left: 0;
  margin-right: 50%;
}

.wrapper_right_branch{
  position: absolute;
  margin-left: 50%;
  right: 0;
}

.dither{
  width: 100%;
  height: 64px;
  background-image: url(./images/borders/dither_tile_test.png);
  background-repeat: repeat-x;
  background-size: initial;
}

#nav-dither{
  position: sticky;
  background-image: url(./images/borders/dither_tile_dark.png);
  top: 1.5rem;
  z-index: 300;
}

#about-dither{
  background-color: var(--light-slate-colour);
  filter: contrast(65%);
}

#projects-dither{
  background-color: var(--lightest-slate-colour)!important;
  filter: contrast(35%) brightness(125%);
}


@media (max-width: 730px){

  #app-home-wrapper{
    min-height: 45rem;
  }

  .page{
    min-height: 45rem;
  }

  #contact{
    min-height: 30rem;
  }
  
}