/* COLOUR PALETTE
  NAV_BAR = dark-brown-grey
  HOME= = dark-slate-colour

*/

/* COLOUR PALETTE VARIABLES */
:root{
  --dark-brown-grey-colour: #302b29;
  --dark-brown-colour: #41250a; /* used in branch img */
  --light-brown-colour: #5b3714; /* used in branch img */

  --dark-slate-colour: #303030;
  --mid-slate-colour: #3d3d3d;
  --light-slate-colour: #4e4e4e;
  --lightest-slate-colour: #7b7b7b;

  --honey-yellow-colour: #b8902a;
  --dull-gold-colour: #6f5e32;
  --light-yellow-colour: #ffd15c; /* used in branch title img */
  --parchment-colour: #b3ae8f;

  --lavender-colour: #534b54;
}

/* GENERAL */
.App {
  font-family: InputMono;
  cursor: default;
}

html{
  font-size: 1rem;
  background-color: var(--light-slate-colour);
}

em {
  color: var(--light-yellow-colour);
}

img {
  max-width: 100%;
  height: auto;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a{
  text-decoration: none;
  color: var(--lightest-slate-colour);
  transition: 0.3s;
}

a:hover {
  color: var(--honey-yellow-colour);
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--lightest-slate-colour);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dull-gold-colour);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--lavender-colour);
}

/* PAGES */
.page{
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app-home-wrapper{
  background-color: var(--mid-slate-colour);
  height: 95vh;
  border-bottom: 32px solid transparent;
  border-image: url("./images/home-dither-border.png") 33% repeat;
}

#app-nav-wrapper{
  position: sticky;
  top: 0;
  z-index: 300;

  /* DITHER EFFECT */
  border-bottom: 24px solid transparent;
  border-image: url("./images/dither-border.png") 33% repeat;
  overflow: visible;

}


/* IMAGES */

.wrapper_left_branch{
  padding-top: 2.5rem;
  position: absolute;
  left: 0;
  width: 100%;
}

.wrapper_right_branch{
  position: absolute;
  right: 0;
}


/* BREAK POINTS */


/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px){
  .page{
    
  }
  
}


/* Medium devices (Landscape Tablets, 992px and up) */
@media (max-width: 768px){

}