#wrapper_projects{
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  background: var(--parchment-colour);
  margin: 1rem;

  border: 1rem solid transparent;
  border-image: url(../../images/borders/border-paper.png) 25% repeat;
  border-image-outset: 0.5rem;
}


.titleArea{
  border-right: 2px solid var(--lavender-colour);
  text-align: center;
  padding: 1rem;
  flex-basis: 20%;
}

.bodyArea{
  padding: 0.8em;
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.kwArea{
  flex-basis: 20%;
}

.kwArea li{
  display: inline-block;
  margin: 0.25rem;
  padding: 0.5em;
  list-style-type: none;
  background-color: var(--lightest-slate-colour);

  border-right: 3px solid var(--dark-slate-colour);
  border-bottom: 3px solid var(--dark-slate-colour);
  border-left: none;
  border-top: none;

}

.descArea{
  flex-basis: 60%;
}

.descArea li{
  list-style-type: square;
  padding: 0.25rem;
}

.actionArea{
  flex-basis: 20%;
}

.actionArea a{
  border: 0.2rem solid var(--honey-yellow-colour);
  width: 10%;
  margin: 8px;
  padding: 8px;
  font-family: VcrMono;
  font-size: 1.25rem;
  color: var(--dark-slate-colour);

}

.actionArea a:hover{
  background-color: var(--honey-yellow-colour);
  color: white;
}



@media (max-width: 730px){

  .projectCard {
    flex-direction: column;
    width: 85%;
    background: var(--parchment-colour);
    margin: 1rem;
    padding-left: 0;
    font-size: 0.75rem;

  }

  .projectCard div {
    width: 100%;
  }

  .projectCard ul {
    padding-left: 0;
  }
  
  .titleArea{
    border-right: none;
    border-bottom: 2px solid var(--lavender-colour);
  }
  
  .bodyArea{
    padding: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  
  .kwArea li{
    display: inline-block;
    margin-right: 2%;
    padding: 0.5em;
    list-style-type: none;
    background-color: var(--lightest-slate-colour);
  
    border-right: 3px solid var(--dark-slate-colour);
    border-bottom: 3px solid var(--dark-slate-colour);
    border-left: none;
    border-top: none;
  
  }
  
  .descArea{
    flex-basis: 60%;
  }
  
  .actionArea{
    flex-basis: 20%;
  }
  
}