#wrapper_projects{
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: InputMono;
}

.projectCard {
  display: flex;
  max-width: 62%;
  background: var(--parchment-colour);
  margin: 1%;
  padding: 1em;
  border-bottom: 3em solid transparent;
  border-image: url(../../images/borders/project_border.png) 0 0 52% 0 repeat;
}


.titleArea{
  border-right: 2px solid var(--lavender-colour);
  text-align: center;
  flex-basis: 20%;
}

.bodyArea{
  padding: 0.8em;
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.kwArea{
  flex-basis: 20%;
}

.kwArea li{
  display: inline-block;
  margin-right: 2%;
  padding: 0.5em;
  list-style-type: none;
  background-color: var(--lightest-slate-colour);

  border-right: 3px solid var(--dark-slate-colour);
  border-bottom: 3px solid var(--dark-slate-colour);
  border-left: none;
  border-top: none;

}

.descArea{
  flex-basis: 60%;
}

.actionArea{
  flex-basis: 20%;
}

.actionArea span{
  border: 3px solid var(--honey-yellow-colour);
  width: 10%;
  margin: 8px;
  padding: 8px;
  font-family: VcrMono;
  font-size: 1.25rem;
  color: var(--dark-slate-colour);

}

.actionArea span:hover{
  background-color: var(--honey-yellow-colour);
  color: white;
}

/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 1092px){
  :root{
    --hex-width: 128px; /* semi hard coded to 1vw rn */
  }
}


/* Medium devices (Landscape Tablets, 992px and up) */
@media (max-width: 768px){

}
