#wrapper_inventory{
  width: 75%;
  display: flex;
  flex-direction: row;
  font-family: VcrMono;
  margin: 7em auto 2em auto;
  padding: 1rem;
}

#wrapper_inventory div {
  text-align: center;
}

/** PROFILE **/

.profile_slot{
  max-width: 20%;
  background-color:var(--mid-slate-colour);
  padding: 0.2em;
  margin: 0.5em;
  border: 1em solid transparent;
  border-image: url(../../images/border.png) 25% repeat;
}

#profile_stats li{
  width: 100%;
  text-align: left;
  list-style-type: none;
}

/** GRID **/
.grid_container {
  max-width: 40%;
  padding: 0.8em;
  background-color: var(--mid-slate-colour);
  margin: 0.4em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid_item{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  border: 1em solid transparent;
  border-image: url(../../images/border.png) 25% repeat;
}

.grid_item:hover{
  border-image-source: url(../../images/border-white.png);
  cursor: pointer;
}

/** INFO PANE **/
#item_description_pane {
  width: 40%;
  background-color: var(--parchment-colour);
  color: var(--dark-slate-colour);
  margin: 0.4em;
}

#item_desc_title{
  background-color: var(--dull-gold-colour);
  font-size: 1.75rem;
  color: var(--light-yellow-colour);
  padding: 0.75rem;
}

#item_desc_container{
  width: 85%;
  display: flex;
  justify-content: center;
}

#item_desc_container li{
  width: 25rem;
  text-align: left;
  font-size: 1.25em;
  padding-top: 0.75rem;
  border-bottom: 2px dashed var(--dull-gold-colour);
  list-style-type: none;
}


/* BREAK POINTS */

@media (max-width: 1092px){

  #wrapper_inventory{
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
  
  /** PROFILE **/
  
  .profile_slot{
    max-width: 30%;
    padding: 0;
    margin: 0;
  }
  
  
  /** GRID **/

  .grid_container{
    max-width: 60%;
    padding: 0;
    margin: 0;
  }

  .grid_item{
    border-width: 3px;
  }
    
  /** INFO PANE **/
  #item_description_pane {
    width: 95%;
    

  }
   
  #item_desc_container li{
    font-size: 1rem;
  }
 
}