#wrapper_inventory{
  width: 75%;
  display: grid;
  grid-template-columns: 25% 45% 35%;
  grid-template-rows: repeat(4, 25%);
  grid-template-areas: 
    "profile items info"
    "profile items info"
    "stats items info"
    "stats items info";
  ;
  font-family: VcrMono;
  font-size: 1.2rem;

}

.inventory_pane{
  text-align: center;
  background-color: var(--parchment-colour);
  border: 1rem solid transparent;
  border-image: url(../../images/border-paper.png) 25% repeat;

  border-image-outset: 0.5rem;
  padding: 0.2em;
  margin: 0.8em;
}

.inventory_pane ul{
  padding-left:0;
  list-style: none;
}

.inventory_pane li {
  text-align: left;
  text-align: left;
  padding-top: 0.75rem;
  border-bottom: 2px dashed var(--dull-gold-colour);
}

/** PROFILE **/
#profile_avatar{
  grid-area: profile;
}

#profile_avatar img{
  max-width: 75%;
}

#profile_stats{
  grid-area: stats;
}

/** GRID **/
#grid_pane {
  grid-area: items;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid_item{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  border: 16px solid transparent;
  border-image: url(../../images/border.png) 25% repeat;
  transition: all 0.1s;
}

.grid_item:hover{
  border-image-source: url(../../images/border-hover.png);
  cursor: pointer;
}

/** INFO PANE **/
#item_description_pane{
  grid-area: info;
}

#item_desc_title{
  color: var(--light-yellow-colour);
  background-color: var(--dull-gold-colour);
}

/* BREAK POINTS */

@media (max-width: 1092px){

  #wrapper_inventory{
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  /** PROFILE **/
  
  #profile_pane{
    display: none;
  }
  
  
/** PROFILE **/

  /** GRID **/
 
  .grid_item{
    margin: 0.5em;
    border: 8px solid transparent;
    border-image: url(../../images/border.png) 25% repeat;
  }



  /** INFO PANE **/
  #item_description_pane{
    font-size: 0.2rem;
  }

 
}