#wrapper_contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 95vh;
}

.contactArea{
    margin-top: 2em;
    font-size: 3rem;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.navIcon{
    text-decoration: none;
    color: var(--dark-slate-colour);
  }
  
.navIcon:hover {
    color: var(--dull-gold-colour);
  }