#wrapper_contact{
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows:  repeat(5, auto);
  row-gap: 1.5rem;
  column-gap: 1.5rem;
  grid-template-areas: 
    "header header header header header"
    ". . . . ."
    ". email github linked ."
    ". . . . ."
    "addr  addr addr addr addr";
    
  background-color: var(--dark-slate-colour);
  border: 1rem solid transparent;
  border-image: url(../../images/borders/border-card2.png) 25% 25% 25% 25%;
  border-image-outset: 0.5rem;

}

#card_title{
  grid-area: header;
  background-color: var(--light-yellow-colour);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  
  border: 0.5rem solid transparent;
  border-image: url(../../images/borders/border-card.png) 25% 25% 25% 25%;
  border-image-outset: 0.5rem;

}

#card_email{
  grid-area: email;
}

#card_github{
  grid-area: github;
}

#card_linked{
  grid-area: linked;
}

#card_addr{
  grid-area: addr;
}

.link_icon:hover{
  filter: hue-rotate(190deg);
}